[tool.poetry]
name = "droos-bot"
version = "0.2.0"
description = ""
authors = ["yshalsager <ysh-alsager@hotmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10"
python-telegram-bot = "^20.3"
python-telegram-bot-pagination = "^0.0.2"
gspread = "^5.9.0"
gspread-pandas = "^3.2.2"
SQLAlchemy = "^2.0.15"
Pyrogram = { version = "^2.0.106", optional = true }
TgCrypto = { version = "^1.2.5", optional = true }
convopyro = { git = "https://github.com/Ripeey/Conversation-Pyrogram.git", branch = "main", optional = true }

[tool.poetry.extras]
links_to_ids = ["Pyrogram", "TgCrypto", "convopyro"]

[tool.poetry.group.dev.dependencies]
pre-commit = "^3.3.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]  # https://github.com/charliermarsh/ruff
fix = true
ignore-init-module-imports = true
line-length = 100
select = ["A", "B", "BLE", "C4", "C90", "D", "DTZ", "E", "ERA", "F", "G", "I", "INP", "ISC", "N", "NPY", "PGH", "PIE", "PLC", "PLE", "PLR", "PLW", "PT", "PTH", "PYI", "RET", "RSE", "RUF", "S", "SIM", "T10", "T20", "TID", "UP", "W", "YTT"]
ignore = ["E501", "PGH001", "RET504", "S101", "D211", "D213", "ERA001", "G004", "D100", "D101", "D102", "D103", "D104", "D105", "D104", "D107"]
unfixable = ["ERA001", "F401", "F841", "T201", "T203"]
src = ["droos_bot"]
target-version = "py310"

[tool.black]
include = '(droos_bot\/.*$|\.pyi?$)'
exclude = '''
/(
    \.git
  | __pycache__
  | \.venv
)/
'''

[tool.isort]
profile = "black"

[tool.mypy]
files = ["droos_bot"]
ignore_missing_imports = true
disallow_untyped_defs = true
#disallow_any_unimported = true
no_implicit_optional = true
check_untyped_defs = true
warn_return_any = true
show_error_codes = true
warn_unused_ignores = true
disallow_incomplete_defs = true
disallow_untyped_decorators = true
plugins = ["sqlalchemy.ext.mypy.plugin"]
